<!doctype html>
<html ng-app="quotesApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body ng-controller="QuotesController">
    <section ng-repeat="quote in quotes">
      <article ng-if="quoteIndex == $index" class="quote-item-container">
        {{quote.content}}
        {{quote.author}}
      </article>
    </section>

    <button ng-click="nextQuote()">See next quote</button>


    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/events.js"></script>
    <script src="scripts/controllers/quotes.js"></script>
  </body>
</html>
