@import "../bower_components/bourbon/dist/bourbon";
@import "../bower_components/neat/app/assets/stylesheets/neat";
@import "../bower_components/neat/app/assets/stylesheets/neat-helpers";

$small-screen: em(320);
$medium-screen: em(640);
$large-screen: em(860);

$base-font-family: "Helvetica";
$base-font-color: black;

html {
  height: 100%;
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  min-height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.quote-container {
  @include position(absolute, 0px 0px 0px 0px);

  @include media($medium-screen) {
    width: 640px;
    margin: 0 auto;
  }

  &.long {
    @include media($medium-screen) {
      width: 840px;
    }
  }
}

.quote-item-container {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
}

.quote-item-container blockquote p {
  font-family: Georgia, serif;
  font-size: 2.0em;
  line-height: 1.4;
}
